@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400;500&display=swap');

.wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 10px 10px;
}

.section-data{
    display: flex;
    margin-top: 15px;
    width: 170vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 66px;
}

.section-data-h2{
    font-size: 25px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.accordion{
    width: 1000px;
}

.item{
    background: #FDEFEF;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.title{
    color: #85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
}

.company_title{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.company_data{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.content{
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0,1,0,1);
}

.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.4s cubic-bezier(1,0,1,0);
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.company_link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

@media screen and (max-width:415px){
    .section-data-h2{
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        margin-left: 0px;
    }


    .section-data{
        display: flex;
        margin-top: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        margin-left: 5px;
    }

    .section-data-h2{
        font-size: 18px;
        font-weight: 300;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0px 10px;
    }

    .accordion{
        width: 370px;
    }

    .company_title{
        font-size: 18px;
    }

    .company_data{
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
    }

    .company_link{
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }
}

@media screen and (max-width:615px){
    .section-data-h2{
        width: 100%;
        font-size: 23px;
        font-weight: 300;
        text-align: justify;
        margin-left: 0px;
    }


    .section-data{
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        margin-left: 1px;
        padding: 0px 2px 0px 2px;
    }

    .section-data-h2{
        font-size: 18px;
        font-weight: 300;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0px 10px;
    }

    .accordion{
        width: 500px;
    }

    .company_title{
        font-size: 20px;
    }

    .company_data{
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
    }

    .company_link{
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
}

@media screen and (max-width:730px){
    .section-data-h2{
        width: 100%;
        font-size: 25px;
        font-weight: 300;
        text-align: justify;
        margin-left: 0px;
    }


    .section-data{
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        margin-left: 1px;
        padding: 0px 2px 0px 2px;
    }

    .section-data-h2{
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0px 10px;
    }

    .accordion{
        width: 500px;
    }

    .company_title{
        font-size: 20px;
    }

    .company_data{
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
    }

    .company_link{
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
}